body{
    background-color: #dff6ff;
}
h1{
    color: #169bcf;
}
    text-align: center;
}
h2{
    color: rgb(89, 185, 169);
}

.enviar{
    border-radius: 50px;
    background-color: #a0e016;
    color: #75470f;
}
.etiqueta{
    background-color: #dd22d4;
   
}